In [4]:
import pandas as pd
import numpy as np

In [6]:
pwd

'C:\\Users\\Angela Stowell\\Desktop\\temporary\\GitHub\\Pymoli'

In [9]:
#Load file
pymoli = "./Pymoli_Data.csv"

In [20]:
#Read file and load to Panda Data Frame
purchase_data_pd = pd.read_csv("./Pymoli_Data.csv")
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [128]:
unique_players = purchase_data_pd["SN"].unique()
unique_player_count = len(unique_players)
unique_player_count

576

In [123]:
number_purchases = purchase_data_pd["Price"].count()
number_purchases

780

In [130]:
#total_player = pd.DataFrame(unique_player_count.count())
#total_player.head()

AttributeError: 'int' object has no attribute 'count'

In [50]:
total_player_total.columns = ["Total Players"]
total_player_total.head()

             Total Players
Purchase ID            780

In [57]:
total_player_total.rename = ["Purchase ID": 0]
total_player_total.head()

SyntaxError: invalid syntax (<ipython-input-57-2bca5608ff4c>, line 1)

In [65]:
average = purchase_data_pd["Price"].mean()
average

3.050987179487176

In [66]:
total = purchase_data_pd["Price"].sum()
total

2379.77

In [68]:
unique = purchase_data_pd["Item Name"].unique()
unique

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [74]:
unique_value_count = len(unique)
unique_value_count

179

In [124]:
# Create a DataFrame of frames using a dictionary of lists
summary_table_df = pd.DataFrame({
    "Number of Unique Items":[unique_value_count],
    "Average Purchase Price": [average],
    "Total Number Purchases": [number_purchases],
    "Total Revenue": [total],
})
summary_table_df

,Number of Unique Items,Average Purchase Price,Total Number Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [70]:
count = purchase_data_pd["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [103]:
player_gender = purchase_data_pd[['SN', 'Gender']]
player_gender.drop_duplicates

AttributeError: 'dict' object has no attribute 'columns'

In [ ]:
#create percentage of gender to overall player count
Male/Total Player Count*100

In [75]:
#thousands_of_dollars = purchase_data_pd["Amount"]/1000
#data_file_pd["Thousands of Dollars"] = thousands_of_dollars

#data_file_pd.head()

In [161]:
#binning by demographic
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_cat = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [165]:
 # Slice the data and place it into bins
    
purchase_data_pd["Age Range"] = pd.cut(purchase_data_pd["Age"], bins, labels=age_cat)
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [170]:
# Create a GroupBy object based upon "Age Range"
age_cat = purchase_data_pd.groupby("Age Range")


# Find how many rows fall into each bin
print(age_cat["SN"].count())

Age Range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: SN, dtype: int64

In [268]:
grouped_ages = age_cat[['SN','Age Range']].drop_duplicates()
age_total_count = grouped_ages['Age Range'].value_counts()
age_percentage_count = (age_total_count/total_players) * 100
age_total_count

AttributeError: Cannot access callable attribute 'drop_duplicates' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [200]:
# Top Spenders
#Run basic calculations to find the top 5 spenders
spenders = purchase_data_pd.groupby('SN')
spender_purchase_count = spenders['Purchase ID'].count()
avg_price_spender = spenders['Price'].mean()
total_price_spender = spenders['Price'].sum()

In [201]:
#Create a summary data frame to hold the results
spenders_df = pd.DataFrame({
'Purchase Count': spender_purchase_count,
'Average Purchase Price': avg_price_spender,
'Total Purchase Value': total_price_spender})
spenders_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [202]:
#Sort the total purchase value column in descending order
sorted_spenders_df = spenders_df.sort_values(('Total Purchase Value'), ascending=False)
sorted_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [260]:
# Create a GroupBy object based upon "Age Range"
#item_name_group = purchase_data_pd.groupby(['Item ID', 'Item Name', 'Price'])

item_id_name = purchase_data_pd.groupby(['Item ID', 'Item Name'])
item_count = item_id_name['Price'].count()
total_price = item_id_name['Price'].sum()
#item_price = total_price/item_count
item_price = total_price/item_count

# Find how many rows fall into each bin
#item_name_count = item_name_group["Item Name"].count()
#item_name_count

In [218]:
#Find out how much was spent on each particular item, in total
#item_name_count['Total Purchase Value'] = purchase_data_pd['Price']*(item_name_count)
#item_name_count['Total Purchase Value']

In [262]:
# Create a DataFrame of frames using a dictionary of lists
most_popular_df = pd.DataFrame({
   "Purchase Count": item_count,
   "Item Price": item_price,
   "Total Purchase Value": total_price,
})
most_popular_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
5,Putrid Fan,4,4.08,16.32
6,Rusty Skull,2,3.70,7.40
7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
8,"Purgatory, Gem of Regret",3,3.93,11.79
9,"Thorn, Conqueror of the Corrupted",4,2.73,10.92
10,Sleepwalker,4,1.79,7.16
11,Brimstone,5,3.65,18.25
12,Dawne,6,1.02,6.12
13,Serenity,4,1.41,5.64
14,Possessed Core,2,2.61,5.22
15,Soul Infused Crystal,5,2.96,14.80
16,Restored Bauble,4,3.55,14.20
17,"Lazarus, Terror of the Earth",4,1.70,6.80
18,"Torchlight, Bond of Storms",2,4.65,9.30
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
20,Netherbane,5,3.27,16.35
21,Souleater,5,1.10,5.50
22,Amnesia,6,2.18,13.08
23,Crucifer,1,1.99,1.99
24,Warped Fetish,5,3.81,19.05
25,Hero Cane,6,4.35,26.10
26,Unholy Wand,2,1.12,2.24
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
29,"Chaos, Ender of the End",5,1.98,9.90
...,...,...,...,...
154,Feral Katana,4,4.40,17.60
155,War-Forged Gold Deflector,5,1.01,5.05
156,Soul-Forged Steel Shortsword,5,1.77,8.85
157,"Spada, Etcher of Hatred",4,4.80,19.20
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
160,Azurewrath,6,4.40,26.40
161,Devine,5,1.76,8.80
162,Abyssal Shard,5,2.67,13.35
163,Thunderfury Scimitar,5,3.45,17.25
164,Exiled Doomblade,7,1.63,11.41
165,Bone Crushing Silver Skewer,4,4.86,19.44
166,Thirsty Iron Reaver,3,3.07,9.21
167,"Malice, Legacy of the Queen",4,3.61,14.44
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
169,"Interrogator, Blood Blade of the Queen",4,2.18,8.72
170,Shadowsteel,4,3.97,15.88
171,Scalpel,3,1.79,5.37
172,Blade of the Grave,4,3.14,12.56
173,Stormfury Longsword,2,4.93,9.86
174,Primitive Blade,4,3.47,13.88
175,Woeful Adamantite Claymore,3,4.48,13.44
176,Relentless Iron Skewer,2,2.84,5.68
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [263]:
#Create ascending purchase totals
sorted_popular_df = most_popular_df.sort_values(('Total Purchase Value'), ascending=True)
sorted_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
42,The Decapitator,1,1.75,1.75
104,Gladiator's Glaive,1,1.93,1.93
23,Crucifer,1,1.99,1.99
126,Exiled Mithril Longsword,1,2.00,2.00
125,Whistling Mithril Warblade,2,1.00,2.00

In [264]:
#Create descending purchase totals
sorted_popular_df = most_popular_df.sort_values(('Total Purchase Value'), ascending=False)
sorted_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80